{% extends 'base.html.twig' %}

{% block body %}
    <section class="container mt-4 mb-4">
        <h1>Votre compte a ete enregistrer</h1>
        <p>Vous devez confirmer votre compte en cliquant sur le lien qui vous a ete envoyer par mail</p>
    </section>
{% endblock %}