{% extends 'base.html.twig' %}

{% block body %}
    <section class="container mt-4 mb-4">
        <h1>Connexion</h1>
        <div class="col-12">
            <form class="flex-column d-flex" action="{{ path('user_login') }}" method="post">
                <label>E-mail :
                    <input name="_username" type="text">
                </label>
                <label>Mot de passe :
                    <input name="_password" type="password">
                </label>
                <button type="submit" class="btn btn-primary">Valider</button>
            </form>
        </div>
    </section>
{% endblock %}